.body {
    font-size: 1rem;
}

.peopleList {
    width: 100%;
    list-style: none;
    padding-left: 0;
}

.peopleListItem {
    width: 100%;
    font-size: 20px;
    font-weight: bold;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    font-size: 1.25rem;
}

td {
    padding: 5px;
}

.valueColumn {
    text-align: right;
}

.toggleViewOff {
    display: none;
}

.toggleViewOn {
    display: block;
}

.navigationButton {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 2rem;
    font-weight: bold;
}

#nextButton {
    float: right;
}