@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=B612&display=swap');

body {
    font-family: 'Libre Baskerville', Helvetica, serif;
    font-size: 1.5rem;
    background-color: #6b6e70;
    color: #ffffff;
}

#currencySelector {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

h1, h2, h3 {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    text-decoration: underline;
    font-size: 2.5em;
}

h3 {
    font-size: 2rem;
}

p, select {
    font-size: 1.75rem;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;

    font-family: 'B612', monospace;
}

table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    background-color: #474b4f;
}

td {
    color: #86c232;
}

.centerAlign {
    text-align: center;
}

.rightAlign {
    text-align: right;
}